* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-image: url(/assets/rick-morty-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

h3 {
  z-index: 1000;
}

.img-rm {
  margin: 20px 675px;
}

#rm-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

/* Pagination Previous Button */
#rm-info .prev-arrow ion-icon {
  position: absolute;
  bottom: -50px;
  left: 45%;
  border-radius: 50%;
  color: #fff;
  width: 50px;
  height: 50px;
  background: hsl(187, 100%, 34%);
  text-align: center;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}

/* Pagination Next Button */
#rm-info .next-arrow ion-icon {
  position: absolute;
  bottom: -50px;
  right: 45%;
  border-radius: 50%;
  color: #fff;
  width: 50px;
  height: 50px;
  background: hsl(187, 100%, 34%);
  text-align: center;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}

#slick-reform {
  margin: 20px;
  width: 500px;
  /* height: 505px; */
  border: none;
  border-radius: 10px;
  background: hsl(187, 100%, 39%);
  box-shadow: 2px 2px 14px hsl(187, 100%, 34%),
    -3px -3px 8px hsl(187, 100%, 44%);
}

.rm-container p {
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 1.125rem;
}

.rm-image {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.rm-name {
  font-size: 1.2rem;
  text-align: center;
  margin: 5px 0;
}

/* .rm-gender {
}

.rm-species {
}

.rm-location {
}

.rm-origin {
}

.rm-status {
} */

.rm-footer {
  text-align: center;
  margin-top: 80px;
  color: #00c6e1;
}

/* Media Query */
@media screen and (min-width: 1024px) {
  #slick-reform .rm-container {
    width: 100%;
  }
  #rm-info .prev-arrow ion-icon {
    position: absolute;
    bottom: -50px;
    left: 50%;
  }
  #rm-info .next-arrow ion-icon {
    position: absolute;
    bottom: -50px;
    right: 45%;
  }
}

@media screen and (max-width: 600px) {
  #slick-reform {
    width: 230px;
  }
  .img-rm {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  #rm-info .prev-arrow ion-icon {
    position: absolute;
    bottom: -40px;
    left: 25%;
  }
  #rm-info .next-arrow ion-icon {
    position: absolute;
    bottom: -40px;
    right: 30%;
  }
  .rm-footer {
    margin-top: 3.0625rem;
  }
}

@media screen and (max-width: 375px) {
  .img-rm {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .rm-container p {
    font-size: 1.125rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  #rm-info .prev-arrow ion-icon {
    position: absolute;
    bottom: -50px;
    left: 25%;
  }
  #rm-info .next-arrow ion-icon {
    position: absolute;
    bottom: -50px;
    right: 30%;
  }
  .rm-footer {
    margin-top: 6.0625rem;
  }
  .rm-footer p {
    font-size: 0.875rem;
  }
}
